.env
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/banners/*
!/storage/banners/.gitkeep
.DS_Store
*.log
vendor/
