APP_ENV=production
APP_URL=https://yuk.birlikde.biz
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=yuk_birlikde
DB_USER=yuk_birlikde
DB_PASS=
PAYRIFF_BASE_URL=https://api.payriff.com
PAYRIFF_SECRET_KEY=
PAYRIFF_MERCHANT_ID=
